{%load static%}
<link rel="stylesheet" href="{% static 'css/GhostPostApp.css' %}" />

<div class="bg-dark" style="position: reltive">
  <h1 style="color: #33ff4e;">ghostPost <i class="fas fa-ghost"></i></h1>

  
    

</div>
<nav
  class="navbar sticky-top navbar-light bg-dark"
  style="margin-bottom: 25px;"
>
  <a class="btn btn-primary" href="/">All Posts</a>
  <a class="btn btn-primary"href="/roasts/">Roasts</a>
  <a class="btn btn-primary" href="/boasts/">Boasts</a>
  <a class="btn btn-primary" href="/top/">Top Posts</a>
  <a class="btn btn-primary" href="/post/">Post a Message</a>
</nav>
